* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #E8E6D8;
  --card-bg: #F6F4E8;
  --text: #2B2B2B;
  --primary: #6AAA64;
}

body.dark {
  --bg: #1A1A1A;
  --card-bg: #333333;
  --text: #D0D0D0;
  --primary: #4CAF50;
}

body {
  background: var(--bg);
}

body.openSb {
  overflow: hidden;
}

.topbar {
  background: var(--card-bg);
  color: var(--text);
  
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 0.5vw;
}

.topbar h1 {
  text-align: center;
  font-size: clamp(16px, 2.5vh, 30px);
}

.topbar button {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: var(--text);
  width: auto;
  font-size: 100%;
  font-weight: bolder;
  text-align: center;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

.topbar button:hover {
  background-color: var(--text);
  color: var(--primary);
  
}

/*main*/

.main {
  color: var(--text);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  min-height: 50%;
  min-width: 75%;
  max-width: 100%;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
}

.main h1 {
  font-size: 100%;
  text-align: center;
  padding: 1rem;
}

.main a {
  font-size: 100%;
  text-align: center;
  padding: 1rem;
}

.main .main-topbar {
  border-radius: 1rem;
}

.main .main-topbar button {
  background: var(--bg);
  color: var(--text);
  font-weight: bold;
  border: none;
  padding: 1%;
  font-size: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.main .main-middlebar {
  background: var(--card-bg);
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}

/*sidebar*/
.sidebar {
  width: 50%;
  background: var(--card-bg);
  color: var(--text);
  height: 150%;
  position: fixed;
  left: -100vw;
  top: 0;
  transition: 0.3s;
  
  z-index: 11;
}

.sidebar .topSb {
  color: var(--text);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 1rem;
  font-weight: bold;
}

.sidebar .topSb button {
  color: var(--text);
  width: 15%;
  background: rgba(0, 0, 0, 0);
  border: none;
}

.blurSidebar {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.3s;
  
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
}

.choice {
  width: 100%;
  height: 5%;
}

.choice button {
  background: rgba(0, 0, 0, 0);
  border: 0.1rem solid;
  
  color: var(--text);
  
  height: 100%;
  width: 100%;
  font-size: 100%;
}

/*menu-choice*/

.menu-choice {
  display: flex;
  gap: 1rem;
}

.mani-setting input {
  border: 0.1rem solid var(--bg);
  border-radius: 1rem;
  padding: 0.5rem;
  background: var(--card-bg);
  color: var(--text);
  
  outline: none;
}

.mani-setting .addon-ver {
  display: flex;
}

.mani-setting .addon-ver input {
  width: 25%
}

.menu-choice button.btn-open-ch {
  border: 0.1rem solid var(--bg);
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 100%;
  background: var(--card-bg);
  color: var(--text);
  min-width: 25%;
  max-width: 75%;
  height: 3rem;
  
  overflow-x: hidden;
}

.choices {
  display: none;
  flex-direction: column;
  gap: 6px;
  margin-top: 6px;
  
  border: 0.1rem solid var(--bg);
  background: var(--card-bg);
  padding: 0.5rem;
  
  overflow-y: auto;
  max-height: 5rem;
}

.choices.open {
  display: flex;
}

.choice-item {
  padding: 0.5rem;
  border: 0.1rem solid var(--bg);
  background: var(--card-bg);
  color: var(--text);
  border-radius: 1rem;
  
  width: 100%;
  
  cursor: pointer;
}

.mani-setting .btn_download {
  padding: 0.5rem;
  border: 0.1rem solid var(--bg);
  background: var(--card-bg);
  color: var(--text);
  border-radius: 1rem;
  
  font-size: 100%;
  font-weight: bold;
  width: 50%;
  height: 2.5rem;
  margin: 1rem;
}